<div class="container">
  <h1>Welcome to the Login/Signup page</h1>

  <%= erb :_errors, :locals => { :object => @user } if @user%>
  
  <div class="form login">
    <div>Login</div>
      <form name="login" action="/login" method="post">
        <input name="email" type="text" placeholder="your email">
        <input name="password" type="password" placeholder="your password">  
        <input type="submit" value="login">
      </form>  
  </div>
  
  <div class="button-signup">Sign up!</div>

  <div class="form signup"> 
    <div>Sign up</div>
      <form name="signup" action="/signup" method="post">
        <input name="name" type="text" placeholder="your name">
        <input name="email" type="text" placeholder="your email">
        <input name="password" type="password" placeholder="your password">  
        <input type="submit" value="signup">
      </form>
  </div>
</div>
